.view-users-page{
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

    .view-users-header{
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;

        .header-block{
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 600;
            width: 350px;

        }
    }
}